.row-one {
    margin-bottom: 7rem;
}

.col-3 {

    @media (max-width: 990px){
        width: 40%;
        height: 50%;
    }

    @media (max-width: 550px) {
        width: 90%;
    }
}

.col-one {
    @media (max-width:550px) {
        flex-direction: column;
    }
}


.presentation {
    max-width: 45rem;

    @media (max-width:550px) {
        text-align: center;
    }

    &__title {
        font-weight: 700;
        color: var(--color-primary);
        font-size: 5.6rem;
        line-height: 4.8rem;
        letter-spacing: -2px;
        margin-bottom: 1.6rem;
        
    }

    &__text {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.5rem;
        letter-spacing: 0.3rem;
        color: var(--color-secondary);
        margin-bottom: 7rem;
    }
}

.evaluations {

    .position2 {
        transform: translateX(5rem)        
    }

    .position3 {
        transform: translateX(10rem)
    }

    @media (max-width: 550px) {
        .position2 {
            transform: translateX(0)
        }

        .position3 {
            transform: translateX(0)
        }
    }

    .evalution {
        margin-bottom: 1.6rem;
        background-color: var(--color-four);
        height: 5.6rem;
        padding: 2rem 8rem 2rem 3.2rem;
        border-radius: 0.8rem;

        @media (max-width: 550px) {
            flex-direction: column;
            justify-content: center;
        }

        &__img {
            height: 1.6rem;
            margin-left: 0.8rem;

            @media (max-width:550px) {
                margin-bottom: 0.8rem;
            }
        }

        &__title {
            font-weight: 700;
            font-size: 1.7rem;
            margin: 0;
            color: var(--color-primary);
            margin-left: 3.2rem;
        }
    }
}

.row-two {

    @media(max-width:550px) {
        flex-direction: column;
        align-items: center;

    }

    .card {
        background-color: var(--color-primary);
        padding: 3rem;
        border-radius: 0.5rem;

        .flex {
            margin-bottom: 3rem;
        }

        .card--img__image {
            border-radius: 50%;
            height: 4rem;
            width: 4rem;
            margin-right: 2.3rem;
        }

    }

    .name {
        font-size: 1.7rem;
        font-weight: 700;
        color: #FFF;
        line-height: 1.6rem;
    }

    .verified {
        color: var(--color-third);
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 1.6rem;
    }

    .card__text {
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 2.2rem;
        letter-spacing: -0.3;
        color: white;
    }
}

//Transição cards de comentarios

.colton-smith{

}

.irene-roberts{
    transform: translateY(2.5rem);
}

.anne-wallace{
    transform: translateY(4.5rem);
    @media (max-width: 550px){
        margin-bottom: 6rem;
    }
}